<div id="todos">
  <h1>Your To Dos</h1>

  <form id="todos_form" action="">
    <input type="text" placeholder="Your To-Do" />
  </form>

  <ul id="todo_list">
    <li ng-repeat="todo in todos | filter:query">
      <input type="checkbox" name="check_{{todo.index}}" id="check_{{todo.index}}" />
      <label for="check_{{todo.index}}">{{todo.title}}</label>
      <a href="#delete" class="delete" data-todoid="{{todo.id}}">delete</a>
    </li>
  </ul>

  <p id="number_todos">{{todos.length}} To Dos</p>
  <input type="text" name="query" ng-model="query" placeholder="Filter To-Dos" />
</div>
