<div id="todos">
  <h1>Your To Dos</h1>

  <form id="todos_form" action="" ng-submit="addTodo()">
    <input type="text" placeholder="Your To-Do" ng-model="todoText" />
  </form>

  <ul id="todo_list">
    <li ng-repeat="todo in todos | filter:query">
      <input type="checkbox" name="check_{{todo.id}}" id="check_{{todo.id}}" ng-model="todo.done" ng-click="markTodoDone()" />
      <label class="done-{{todo.done}}" for="check_{{todo.id}}">{{todo.title}}</label>
      <a href="#delete" class="delete" ng-click="deleteTodo()">delete</a>
    </li>
  </ul>

  <p id="number_todos">{{todos.length}} To Dos</p>
  <input type="text" name="query" ng-model="query" placeholder="Filter To-Dos" />
</div>
