// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#todos {
  background: #CCC;
  height: auto;
  overflow: hidden;
  margin: 10px auto;
  padding: 10px;
  width: 400px;

  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 4px #999;
  box-shadow: 1px 1px 4px #999;
  h1 {
    font-size: 30px;
    line-height: 34px;
  }
  #todos_form {
    input {
      padding: 5px;
      width: 350px;
    }
  }
  #todo_list {
    li {
      float: left;
      clear: both;
      margin: 0 0 10px;
      width: 100%;
      input, a, label {
        display: block;
        float: left;
        margin: 0 10px 0 0;
      }
      input {
        margin: 3px 10px 0 0;
      }
    }
  }
}
